<div class="container">
  <div class="login-box">
    <h2>Login To Dp</h2>
    <form id="login-form">
      <div class="input-group">
        <label for="Email">Email Address*</label>
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          required
        />
        <small id="email-error" class="error-message"></small>
      </div>

      <div class="input-group">
        <label for="password">Password*</label>
        <input
          type="password"
          id="password"
          placeholder="Enter your password"
          required
        />
        <small id="password-error" class="error-message"></small>
      </div>

      <button type="submit" class="submit-btn">Login</button>

      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>
    </form>
  </div>
  <p class="Register-section">Not registered with DP Works?</p>
  <a class="Register-link" href="/signup">Register Now</a>
</div>
